/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
nav, ul {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

ul {
  flex-basis: 33.33%;
  list-style: none;
}

main {
  display: flex;
}

main > section {
  display: flex;
  justify-content: space-around;
}

img {
  width: 50%;
}

section + section {
  display: flex;
  flex-direction: column;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
