/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#get-photos {
  margin: 2rem;
}